<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="All">
      <directory suffix=".php">./tests/unit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-html" target="./tests/output/Coverage/"
      charset="UTF-8" yui="true" highlight="true" />
  </logging>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/</directory>
      <exclude>
          <directory>vendor/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
